.emoji-container {
  position: absolute;
  z-index: 1000;
}

.emoji-picker {
  opacity: 0.95;
}

.emoji-list {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(230, 230, 230) 100%
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.3), 0 3px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid lightgray;
  padding: 10px;
  z-index: 1000;
  height: 300px;
  overflow-y: auto;
}

#emoji-search {
  width: 200px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.3), 0 3px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
}

#emoji-search:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Focus shadow */
}

.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#file-upload-as-emoji {
  padding: 0px 2px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.3), 0 3px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  border-radius: 5px;
  font-size: 15px;
  background-color: #ffffff;
}