/* Markdown Container CSS*/
.markdown-container {
  display: flex;
  padding-bottom: 35px;
  width: 1180px;
  height: 10px;
}

.markdown-button :active {
  filter: brightness(0.7);
}

/* Emoji Picker */
.emoticon-item {
  font-size: small;
}

.emoji-item {
  cursor: pointer;
  text-align: center;
}

.emoji-item:hover {
  background: linear-gradient(rgb(223, 223, 223) 50%, rgb(175, 175, 175));
}

.emoji-item img {
  max-width: 100%; /* Ensures the emoji doesn't exceed the container width */
  max-height: 100%; /* Ensures the emoji doesn't exceed the container height */
  object-fit: cover; /* Crops the emoji to fit within the container while maintaining aspect ratio */
}

textarea {
  background: linear-gradient(rgba(255, 255, 255, 0.404), rgba(211, 211, 211, 0.466));
  font-family: Monospace, "Noto Color Emoji";
}

textarea:focus {
  outline: none;
}

/* Markdown Editor CSS */
.markdown-preview {
  padding-bottom: 35px;
  min-height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: linear-gradient(rgba(255, 255, 255, 0.404), rgba(211, 211, 211, 0.466));
}

.markdown-buttons {
  display: flex;
  background: linear-gradient(white, lightgrey);
  border: 1px solid grey;
  max-width: 100%;
  height: 25px;
  border-radius: 2px;
}

.markdown-item {
  padding: 0px 7px;
  background: url('/furrchat/assets/Markdown-button-divider.png') no-repeat right top;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.281);
  opacity: 0.7;
  height: 25px;
}

#preview-button {
  background: linear-gradient(to bottom, #2cad30, #207e25);
  color: white;
}

#post-button {
  background: linear-gradient(to bottom, #2c9aad, #20497e);
  color: white;
}

.markdown-item:hover {
  background: linear-gradient(rgb(223, 223, 223) 50%, rgb(175, 175, 175));
}

#preview-button:hover {
  background: linear-gradient(to bottom, #268829, #175f29);
}

#post-button:hover {
  background: linear-gradient(to bottom, #277c8b, #20397c);
  color: white;
}