/* Post CSS */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes rotate-animation {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
    scale: 100% 1;
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.postmessage {
  border-top: 1px solid #0000001f;
  font-size: 0.6rem;
  width: 1080px;
  max-height: 400px;
  overflow-y: auto;
  text-align: left;
  line-height: 1;
}

.post-username-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7px;
  text-align: center;
  max-width: 60px;
  word-wrap: break-word; /* Allow breaking words */
  white-space: normal; /* Allow line breaks for spaces and hyphens */
  text-shadow: 0 0 3px #ffffff;
}

.reply {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 4px;
  color: #3c3c3c;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.reply:hover {
  background: linear-gradient(
    to top,
    rgba(235, 235, 235, 0.582) 0%,
    rgba(255, 255, 255, 0.733) 100%
  );
}

.container {
  margin: 10px;
  display: flex;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #83838396;
  padding: 5px;
  font-family: Verdana;
  width: 1180px;
  max-height: 500px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.507) 0%,
    rgba(223, 223, 223, 0.3) 20%,
    rgba(223, 223, 223, 0.3) 80%,
    rgba(255, 255, 255, 0.507) 100%
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.3), 0 3px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

p {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.7);
}

.post-pfp-container {
  position: relative; /* Make the container a positioning context */
  display: inline-block;
  perspective: 1000px;
}

.post-pfp-container:hover {
  animation: 3s infinite alternate rotate-animation;
}

.user {
  margin: 7px;
}

.post-content {
  margin-left: 10px;
  margin-top: 12px;
  margin-bottom: 8px;
}

/* Timestamp */

.timestamp {
  display: flex;
  font-size: 0.5rem;
  color: #999;
  margin-bottom: 0.5em; /* Add some space between timestamp and line */
}

/* Online Indicator */

.online-indicator {
  position: absolute; /* Position relative to .post-pfp-container */
  bottom: 6px;
  left: 44px;
  width: 12px;
  height: 12px;
  background: linear-gradient(
    to bottom,
    #008000 34%,
    #00ff00 100%
  ); /* Add background on hover */
  border-radius: 25%;
  border: 1.5px solid #008000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.offline-indicator {
  position: absolute; /* Position relative to .post-pfp-container */
  bottom: 6px;
  left: 44px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #800000 34%, #ff0000 100%);
  border-radius: 25%;
  border: 1.5px solid #800000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.online-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: radial-gradient(
    circle,
    #34ff34,
    rgba(0, 0, 0, 0)
  ); /* Bright green gradient */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.offline-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: radial-gradient(
    circle,
    #ff0000,
    rgba(0, 0, 0, 0)
  ); /* Bright red gradient */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}