/* Common Styles */
.color-picker-container, .user-bio {
  background: rgba(211, 227, 231, 0.514);
  border-radius: 3px;
  box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255,255,255,.3), 0 3px 1px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.7);
}

.user-bio-container {
  width: 100%;
}

.textarea-userbio {
  font-size: 16px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  resize: none;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  border-radius: 4px;
  padding: 10px;
}

.color-picker-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
}

.color-picker-container label {
  margin-right: 10px;
  font-size: 17px;
  color: #333;
}

input#pickedAvatarColor {
  width: 50px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  appearance: none;
  border-radius: 4px;
}

input#pickedAvatarColor::-webkit-color-swatch-wrapper, input#pickedAvatarColor::-webkit-color-swatch {
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Profile Picture Styles */
.pfpset {
  display: flex;
  flex-wrap: wrap;
}

.pfp-item, .pfp-container {
  position: relative;
}

.pick-pfp {
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
  border: 0.5px solid #ddd;
  margin: 3px;
  cursor: pointer;
  transition: background-color 300ms linear;
}

.pick-pfp:hover {
  background-color: #f0f0f0;
}

.remove-pfp {
  position: absolute;
  top: 0;
  right: 0;
  background: radial-gradient(circle, rgba(255,0,0,.9) 0%, rgba(200,0,0,.9) 100%);
  color: white;
  border: 2px solid rgba(255,255,255,.4);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,.3), inset 0 1px 3px rgba(255,255,255,.4);
  transform: translate(50%, -50%);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.remove-pfp:hover {
  background: radial-gradient(circle, rgba(200,0,0,.9) 0%, rgba(150,0,0,.9) 100%);
  box-shadow: 0 4px 8px rgba(0,0,0,.4), inset 0 1px 5px rgba(255,255,255,.5);
}

/* Settings Container */
.settings-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

.settings-buttons {
  flex-direction: row;
}

.settings {
  padding: 20px;
  margin: 0px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background: linear-gradient(to bottom, rgba(255,255,255,.507), rgba(230,230,230,.5));
  box-shadow: 5px 5px 10px rgba(0,0,0,.5), -5px -5px 10px rgba(255,255,255,.3), 0 3px 1px rgba(0,0,0,.2), inset 0 2px 0 rgba(255,255,255,.7);
  border: 1px solid rgb(172,172,172);
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Profile Info */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.post-pfp-container {
  display: block;
}

.user-text {
  font-size: 19px;
  text-align: center;
}

.pronouns {
  font-size: 12px;
  color: #888;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.user-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.user-bio {
  padding: 8px;
  margin: 4px;
}

.user-bio p {
  margin: 0px;
}

