.social-buttons {
  font-size: 0.6rem;
  transition: background 0.3s ease, filter 0.3s ease;
}

#ReplyButton {
  --button-color: rgba(127, 188, 228, 0.507);
  --button-gradient-start: rgba(127, 188, 228, 0.507);
  --button-gradient-end: rgba(59, 83, 150, 0.678);
}

#DeleteButton {
  --button-color: rgba(228, 127, 127, 0.507);
  --button-gradient-start: rgba(228, 127, 127, 0.507);
  --button-gradient-end: rgba(150, 59, 59, 0.678);
}

#ReactButton {
  --button-color: rgba(242, 192, 255);
  --button-gradient-start: rgba(178, 88, 252, 0.699);
  --button-gradient-end: rgba(160, 26, 165, 0.678);
  padding: 0px;
}

.social-buttons-react-button {
  filter: invert(100%);
}