/* Website */

html {
  background: linear-gradient(to right, rgba(72, 173, 148, 0.8) 0%, rgba(113, 188, 212, 0.8) 75%, rgba(232, 243, 242, 0.904) 100%);
  display: flex;
  justify-content: center;
}


/* Homepage */

.app {
  padding: 5px;
  padding-bottom: 60px;
  width: 1230px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.507) 0%, rgba(230, 230, 230, 0.5) 100%); /* Add background on hover */
  box-shadow: 
  5px 5px 10px rgba(0, 0, 0, 0.5), /* Bottom-right shadow */
  -5px -5px 10px rgba(206, 206, 206, 0.3); /* Top-left shadow (lighter for highlight) */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
}

.banner {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) , rgba(96, 156, 140, 0.5));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
  margin: auto;
  margin-top: 18px;
  width: 97%;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: row
}



/* Navbar CSS */

.navbar {
  margin-bottom: 8px;
  left: 3px;
  display: inline-block;
  position: relative;
  width: 1222px;
  height: 80px;
  background-image: url('/furrchat/assets/navbar.png');
  background-repeat: no-repeat;
}

.navbar-items {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
	font-weight: bold;
  font-family: 'Tahoma';
  padding: 7px 40px;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.navbar input[type=text] {
  float: right;
  border: none;
  border-radius: 7px;
  font-size: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
  height: 16px;
}

.login {
  position: absolute;
  top: 60px;
  right: 40px;
}

button {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.507) 0%, rgba(230, 230, 230, 0.5) 100%); /* Add background on hover */
  box-shadow: 
  5px 5px 10px rgba(0, 0, 0, 0.5), /* Bottom-right shadow */
  -5px -5px 10px rgba(206, 206, 206, 0.3); /* Top-left shadow (lighter for highlight) */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 7px;
  outline-width: 3;
}

textarea {
  resize: none
}

/* Scrollbar CSS */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(128, 128, 128); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgb(67, 140, 173); 
  background: rgb(143, 213, 245);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 226, 247); 
}



/* Post CSS */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  max-width: 600px;
}

.posts {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postmessage {
  border-top: 1px solid #0000001f;
  font-size: 0.6rem;
  width: 1080px;
  max-height: 250px;
  overflow-y: auto;
  text-align: left;
}

.post-username-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7px;
  text-align: center;
  max-width: 60px; /* Adjust width as needed */
  word-wrap: break-word; /* Allow breaking words */
  white-space: normal; /* Allow line breaks for spaces and hyphens */
  text-shadow: 0 0 3px #ffffff;
  
}

.effect {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 4px;
  color: #3c3c3c;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.effect:hover {
  background: linear-gradient(to top, rgba(235, 235, 235, 0.582) 0%, rgba(255, 255, 255, 0.733) 100%);
}

.container {
  margin: 10px;
  display: flex;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding:5px;
  padding-bottom: 35px;
  font-family: Verdana;
  width: 1180px;
  max-height: 350px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.507) 0%, rgba(230, 230, 230, 0.5) 100%); /* Add background on hover */
  box-shadow: 
  5px 5px 10px rgba(0, 0, 0, 0.5), /* Bottom-right shadow */
  -5px -5px 10px rgba(255, 255, 255, 0.3); /* Top-left shadow (lighter for highlight) */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.post-pfp-container { 
  position: relative; /* Make the container a positioning context */
  display: inline-block; 
	perspective: 1000px;
}

.post-pfp-container:hover {
  animation: 3s infinite alternate rotate-animation;
}

@keyframes rotate-animation {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
    scale: 100% 1;
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.online-indicator {
  position: absolute; /* Position relative to .post-pfp-container */
  bottom: 9px; /* Adjust position as needed */
  right: 2px; /* Adjust position as needed */
  width: 10px; 
  height: 10px; 
  background: linear-gradient(to bottom, #008000 34%, #00ff00 100%); /* Add background on hover */
  border-radius:25%;
  border: 1.5px solid #008000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.offline-indicator {
  position: absolute; /* Position relative to .post-pfp-container */
  bottom: 9px; /* Adjust position as needed */
  right: 2px; /* Adjust position as needed */
  width: 10px; 
  height: 10px; 
  background: linear-gradient(to bottom, #800000 34%, #ff0000 100%); /* Add background on hover */
  border-radius:25%;
  border: 1.5px solid #800000; /* Use CSS variable for color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.online-indicator::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjust gradient height as needed */
  background: radial-gradient(circle, #34ff34, rgba(0,0,0,0)); /* Bright green gradient */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.offline-indicator::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjust gradient height as needed */
  background: radial-gradient(circle, #ff0000, rgba(0,0,0,0)); /* Bright green gradient */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.timestamp {
  display: flex;
  font-size: 0.5rem; /* Adjust font size as needed */
  color: #999; /* Adjust color as needed */
  margin-bottom: 0.5em; /* Add some space between timestamp and line */
}


.container:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.507) 0%, rgba(230, 230, 230, 1) 100%); /* Add background on hover */
 }

.post-pfp {
  border-radius: 10%;
  box-shadow: inset 0 0 5px #ffffff
}

.post-content {
  margin-left: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  --mask: linear-gradient(to bottom, 
  rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 80%, 
  rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
) 100% 50% / 100% 100% repeat-x;
-webkit-mask: var(--mask); 
mask: var(--mask);
}

.user {
  margin:7px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.container:hover {
  filter: drop-shadow(0 0 .25em #6c777a67);
}

.container:hover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social {
  float: right
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}