/* Homepage */
@media (max-width: 960px) {
    .app {
        padding: 8px;
    }

    .navbar-search {
        display: none;
    }
}

.app {
  padding: 12px;
  width: 1024px;
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.507) 0%,
    rgba(230, 230, 230, 0.5) 100%
  );
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.267),
    -5px -5px 10px rgba(206, 206, 206, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px 10px 0px 0px;
}

.login-form {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  font-family: 'Trebuchet MS';
  font-size: '16px';
}

.username-icon, .password-icon {
  display: none;
}

@media (max-width: 960px) {
  .login-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(3, auto); /* Three rows */
    gap: 5px; /* Maintain gap between elements */
  }
  .password-submit {
    grid-row: 3;
    grid-column: 1 / span 2; /* Span both columns */
    justify-self: right; /* Center horizontally */
  }
}

@media (max-width: 700px) {
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .username-label, .password-label {
    display: none;
  }

  .username-field,
  .password-field {
    display: flex; /* Maintain flexbox for aligning icons and inputs */
    align-items: center; /* Align icons and inputs vertically */
  }

  .username-icon,
  .password-icon {
    margin-right: 10px;
  }

  .password-submit {
    align-self: flex-end;
  }
}

.banner {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(96, 156, 140, 0.5)
  );
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
  max-width: 98%;
  height: 120px;
  border-radius: 10px 10px 0 0;
}

.uList-heading,
.uList-users {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.uList-heading {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(177, 189, 186, 0.5)
  );
  height: 15px;
  font-weight: 600;
}

.uList-users {
  border-radius: 0 0 10px 10px;
}

/* Navbar CSS */
.navbar {
  display: flex;
  max-width: 98%;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: linear-gradient(
    to top,
    rgba(35, 63, 55, 0.5),
    rgba(96, 156, 140, 0.5)
  );
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: "Trebuchet MS";
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.navbar-items .navbar-item {
  padding: 0px 15px;
  background: url('/furrchat/assets/Divider.png') no-repeat right top;
}

.navbar-items .navbar-item:hover {
  background: linear-gradient(
    to top,
    rgba(21, 37, 33, 0.5) 0%,
    rgba(80, 126, 114, 0.5) 90%,
    rgba(80, 126, 114, 0.5) 100%
  );
}

.navbar-items .navbar-item:hover:first-child {
  border-radius: 0 0 0px 10px;
}

input.navbar-search {
  flex: 0;
  right: 22px;
  position: absolute;
  height: 30px;
  padding: 0 10px;
  border: none;
  border-radius: 0 0 10px 0px;
  background: linear-gradient(white, lightgrey);
  box-shadow: inset 0 0 5px rgb(156, 156, 156);
}

.notification-indicator {
  position: relative;
  bottom: 20px;
  left: 68px;
  width: 10px;
  height: 10px;
  background: linear-gradient(to bottom, #ff0000, #cc0000);
  border-radius: 4px;
  animation: infinite ease-in-out;
  box-shadow: 0 0 2.5px red;
}

.login {
  position: absolute;
  margin: -95px 350px
}

@media (max-width: 960px) {
  .login {
    margin: -105px 300px;
  }
}

.popup-overlay {
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.popup-content {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  width: fit-content !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.856), rgba(211, 211, 211, 0.863)) !important;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.267), -5px -5px 10px rgba(206, 206, 206, 0.3),
    inset 2px 2px 5px rgba(255, 255, 255, 0.8),
    inset -2px -2px 5px rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

img {
  max-width: 600px;
}

.posts {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.uList {
  padding: 14px;
  max-width: 100%;
  margin-top: 20px;
  margin: 0 auto;
  font-size: small;
}