/* Homepage */

.app {
  padding: 5px;
  padding-bottom: 60px;
  width: 1230px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.507) 0%,
    rgba(230, 230, 230, 0.5) 100%
  ); /* Add background on hover */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    /* Bottom-right shadow */ -5px -5px 10px rgba(206, 206, 206, 0.3); /* Top-left shadow (lighter for highlight) */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
}

.banner {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(96, 156, 140, 0.5)
  );
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 18px;
  width: 97%;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: row;
}

/* Navbar CSS */

.navbar {
  margin-bottom: 8px;
  left: 3px;
  display: inline-block;
  position: relative;
  width: 1222px;
  height: 60px;
  background-image: url("/furrchat/assets/navbar.png");
  background-repeat: no-repeat;
}

.navbar-items {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: "Tahoma";
  padding: 7px 40px;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.navbar input[type="text"] {
  float: right;
  border: none;
  border-radius: 7px;
  font-size: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  height: 16px;
}

.notification-indicator {
  position: relative;
  bottom: 20px;
  left: 78px;
  width: 10px;
  height: 10px;
  background: linear-gradient(to bottom, #ff0000, #cc0000);
  border-radius: 4px;
  animation: squish infinite ease-in-out;
  box-shadow: 0 0 2.5px red;
}

@keyframes squish {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.login {
  position: absolute;
  top: 60px;
  right: 40px;
}

button {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.507) 0%,
    rgba(230, 230, 230, 0.5) 100%
  ); /* Add background on hover */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    /* Bottom-right shadow */ -5px -5px 10px rgba(206, 206, 206, 0.3); /* Top-left shadow (lighter for highlight) */
  border-radius: 7px;
  margin-right: 5px;
}

.dropdown-menu {
  position: fixed;
}

img {
  max-width: 600px;
}

.posts {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:hover {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.507) 0%,
    rgba(230, 230, 230, 1) 100%
  ); /* Add background on hover */
}

.logo {
  height: 6em;
  padding: 1.5em;
}