@media (prefers-color-scheme: light) {
  /* :root {} */
}

:root {
  -webkit-font-smoothing: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.911);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    to right,
    rgba(72, 173, 148, 0.8) 0%,
    rgba(113, 188, 212, 0.8) 75%,
    rgba(232, 243, 242, 0.904) 100%
  );
  display: flex;
  justify-content: center;
}

a {
  color: #073742;
  text-decoration: inherit;
}
a:hover {
  color: #1a8863;
  text-decoration: underline;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border-style: solid;
}

/* Scrollbar CSS */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(128, 128, 128);
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgb(67, 140, 173);
  background: rgb(143, 213, 245);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 226, 247);
}